name: Build & Push Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and push Docker image
  env:
    ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
  run: |
    docker build -t hello-nginx ./app
    docker tag hello-nginx:latest $ECR_REPOSITORY:latest
    docker push $ECR_REPOSITORY:latest
