name: Deploy to ECS EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Format Check
      run: terraform fmt -check
      working-directory: terraform

    - name: Terraform Init
      run: terraform init
      working-directory: terraform

    - name: Terraform Validate
      run: terraform validate
      working-directory: terraform

    # Створюємо ECR репозиторій
    - name: Terraform Apply ECR
      run: terraform apply -auto-approve -target=aws_ecr_repository.nginx
      working-directory: terraform

    # Логін в ECR
    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    # Build & Push Docker Image
    - name: Build and Push Docker Image
      run: |
        ECR_REPOSITORY=$(terraform -chdir=terraform output -raw ecr_repository_url)
        docker build -t nginx-hello ./app
        docker tag nginx-hello:latest $ECR_REPOSITORY:latest
        docker push $ECR_REPOSITORY:latest

    # Deploy all remaining Terraform resources
    - name: Terraform Apply All
      run: terraform apply -auto-approve
      working-directory: terraform
